.lib-wrapper {
  width: 100%;
  margin-top: 7%;
  font-family: "Poppins", sans-serif;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

.wrap h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.features {
  display: flex;
  justify-content: space-between;
}

.num {
  width: 66%;
  gap: 20px;
}

.num p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.num a {
  background: var(--green-colour);
  color: white;
  padding: 1.2% 3%;
  border: 1px solid var(--green-colour);
  border-radius: 8px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.features img {
  width: 25%;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  margin-top: 3%;
  height: 87%;
}

.step {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.circle {
  width: 35px;
  height: 35px;
  background: var(--green-colour);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%; 
  transform: translateX(-50%);
  width: 2px;
  height: 300%; 
  background: rgba(10, 140, 0, 0.34);
}

.step:last-child .circle::after {
  display: none;
}

.content h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.content p {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
}


@media (max-width: 768px) {

  .wrap {
    width: 90%;
  }

  .wrap h1 {
    font-size: 20px;
    text-align: center;
  }

  .features {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .num {
    width: 100%;
  }

  .features img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
  }

  .steps {
    gap: 35px;
    margin-top: 20px;
  }

  .circle {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }

  .circle::after {
    height: 260%;
  }

  .content h4 {
    font-size: 15px;
  }

  .content p {
    font-size: 13px;
  }

  .num a {
    display: block;
    width: 60%;
    margin: 25px auto 0;
    text-align: center;
    padding: 12px 0;
  }

}
